<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NewUno.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F647AC41C11FC2E0020D11B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F647AD81C11FC2E0020D11B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F647AE31C11FC2E0020D11B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
